button {
  cursor: pointer;
  outline: none;
  margin: 10px
}

#roll-set-container {
  top: 45px;
  border-right: 1px solid;
  border-top: none;
  border-left: none;
  border-bottom: none;
}


#roll-set-container, #new-roll-set {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#new-roll-set {
  z-index: 2;
  top: 0;
  background-color: bisque;
}

#add-roll-set {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 35px;
  cursor: pointer;
  background-color: aqua;
  text-align: center;
  padding: 5px 0;
  font-size: 25px;
  border-right: 1px solid black;
  overflow: auto;
}

#add-roll-set:hover {
  background-color: cadetblue;
}

#roll-container {
  position: absolute;
  left: 700px;
  top: 0;
  right: 0;
  height: 300px;
  border-bottom: 1px solid black;
}

.fas {
  font-size: 150%;
  margin-top: 5px;
}

.roll-buttons {
  margin: 0;
  border: none;
  cursor: pointer;
}

.roll-buttons:hover {
  opacity: .5;
}

.damage-source {
  margin-top: 20px;
  width: 300px;
}

.tiny-input {
  width: 18px;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: 20px;
}

.roll-that-shit {
  border: 1px solid black;
  width: 125px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.roll-that-shit:hover {
  background-color: cornflowerblue;
}